<div class="tt-desctop-parent-search tt-parent-box" id="btn-strideline--aligncenter">
  <a href="{{ '/collections/all' }}" class="btn-strideline">SHOP</a>
</div>
<style>
  .tt-desctop-parent-account .tt-dropdown-inner li {
    display: none !important;
  }
  .tt-desctop-parent-account .tt-dropdown-inner li:first-child {
    display: block !important;
  }
  #btn-strideline--aligncenter .btn-strideline {
    border-radius: 5px;
    background-color: rgba(255, 72, 72, 1);
    text-align: center;
    text-decoration: none;
    background-image: none;
    height: 30px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  div#btn-strideline--aligncenter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tt-col-obj.tt-obj-options.obj-move-right {
    display: flex;
  }
  #btn-strideline--aligncenter .tt-search.tt-dropdown-obj {
    display: none;
  }
</style>
